<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Settings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/adminsettings.css">
</head>
<body>
    <div class="nav">
        <header>
            <a href="/admin/upload">Upload</a>
            <a href="/admin/flags">Flags</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/regseries">Reg-Series</a>
        </header>
        <div class="mid">
            <img src="/static/icon.jpg" alt="">
            <p>StrangeFlix</p>
        </div>

        <div class="topnav">
            <a href="#home" class="active"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="/admin/control">Home</a>
                <div class="adminlink">
                    <a href="/admin/setting">Setting</a>
                </div>
                <a href="https://dashboard.paystack.com/#/transactions?status=success&use_cursor=true">Transactions</a>
                <a href="/home">User-Panel</a>
                <a href="/admin/logout">Logout</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="msg">
        <% if (message != "") { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% } %>

        <% if (error != "") { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
    </div>
    <div class="middle">
        <form action="/admin/setting" method="post">
            <label for="old-pin">Old Pin</label>
            <input type="password" name="old_pin" id="old_pin" required>
            <label for="new-pin">New Pin</label>
            <input type="password" name="new_pin" id="password" required>
            <label for="confirm-pin">Confirm Pin</label>
            <input type="password" name="confirm_pin" id="confirmpassword" onkeyup="check()" required>
            <div class="btns">
                <button type="reset" value="Reset">Reset</button>
                <button type="submit" value="Submit" id="submit" disabled="disable">Submit</button>
            </div>
        </form>
    </div>
    <script src="../static/fe_js/adminsettings.js"></script>
</body>
</html>