<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/css/forgotPassword.css">
</head>

<body>
    <header>
        <div class="nav">
            <img src="/static/icon.jpg" alt="">
            <p>Strangeflix</p>
        </div>
    </header>
    <div class="selections">
        <p>Enter your registered Email-ID</p>
    </div>
    <div class="msg">
        <% if (message != "") { %>
        <div class="alert-success">
            <%= message %>
        </div>
        <% } %>

        <% if (error != "") { %>
        <div class="alert-danger">
            <%= error %>
        </div>
        <% } %>
    </div>
    <div class="email">
        <form action="/login/forgot" method="post">
            <div class="form">
                <label>Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <input class="send" type="submit" value="Send">
        </form>
    </div>
</body>

</html>