<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME-StrangeFlix</title>
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="sficon">
        <div class="logo">
            <img src="../static/icon.jpg" alt="">
            <p>StrangeFlix</p>
        </div>
        <div class="menu">
            <a class="burger" onclick="menu()"><i class="fa fa-bars"></i></a>
            <a class="cart" href="/cart"><i class="fa fa-shopping-cart"></i></a>
        </div> 
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="msg">
                <p>Are you sure you want to logout</p>
                <span class="close">&times;</span>
            </div>
            <div class="confirm">
                <a href="/logout" class="btn btn-danger">YES</a>
            </div>
        </div>
    </div>
    <div class="top">
        <div id="sidebar">
            <div class="icon">
                <a class="active" href="/home"><i class="fa fa-home"></i></a>
                <p>HOME</p>
            </div>
            <div class="icon">
                <a href="/search"><i class="fa fa-search"></i></a>
                <p>SEARCH</p>
            </div>
            <div class="icon">
                <a href="/fav"><i class="fa fa-heart"></i></a>
                <p>FAVOURITE</p>
            </div>
            <div class="icon">
                <a href="/purchased"><i class="fa fa-suitcase"></i></a>
                <p>PURCHASED</p>
            </div>
            <div class="icon" id="star">
                <a href="/premium"><i class="fa fa-star"></i></a>
                <p>PREMIUM</p>
            </div>
            <div class="icon">
                <a href="/setting"><i class="fa fa-cog"></i></a>
                <p>SETTING</p>
            </div>
            <div class="icon">
                <a id="myBtn"><i class="fa fa-sign-out"></i></a>
                <p>LOGOUT</p>
            </div>
        </div>


        <div class="menubar" id="menubar">
            <a href="/home"><i class="fa fa-home"></i> Home</a><hr style="margin: 0;">
            <a href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a><hr style="margin: 0;">
            <a href="/search"><i class="fa fa-search"></i >Search</a><hr style="margin: 0;">
            <a href="/purchased"><i class="fa fa-suitcase"></i> Purchased</a><hr style="margin: 0;">
            <a href="/fav"><i class="fa fa-heart"></i >Favourite</a><hr style="margin: 0;">
            <a href="/premium"><i class="fa fa-star"></i> Premium</a><hr style="margin: 0;">
            <a href="/setting"><i class="fa fa-cog"></i> Setting</a><hr style="margin: 0;">
            <a id="myBtn1"><i class="fa fa-sign-out"></i> Logout</a>
        </div>

        <!-- Scripts -->

        <script src="../static/fe_js/home.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>