@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
body
{
    background-color: black;
}
.nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.nav img
{
    height: 100%;
    width: 60px;
    border-radius: 30px;
}
.nav p
{
    font-size: 67px;
    padding-top: 10px;
    padding-left: 3px;
    text-align: center;
    color: #C3073F;
}
.selections
{
    text-align: center;
    font-size:38px;
    background-color: #C3073F;
    color: white;
    border: 3px double black;
}
.msg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert-success
{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 85px;
    border: 2px solid green;
    background-color: lightgreen;
    margin-bottom: 5px;
    text-align: center;
    color: #C3073F;
    text-shadow: none;
    border-radius: 9px;
}
.alert-danger
{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 85px;
    border: 2px solid red;
    background-color: rgba(240, 128, 128, 0.363);
    margin-bottom: 5px;
    text-align: center;
    color: white;
    text-shadow: none;
    border-radius: 9px;
}
.change
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form
{
    display: flex;
    flex-direction: column;
    background-color: #C3073F;
    border: 10px double black;
    border-radius: 20px;
    padding: 50px;
}
.form
{
    display: flex;
    flex-direction: column;
}
form label
{
    color: white;
    font-size: 28px;
}
form input
{
    font-size: 25px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #C3073F;
    padding: 2px;
}
.submit
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px;
}
.submit input
{
    padding-left: 5px;
    padding-right: 5px;
}
.submit input:hover
{
    background-color: #C3073F;
    box-shadow: 2px 2px 6px 6px white;
    color: aliceblue;
}
@media screen and (max-width:477px)
{
    .selections
    {
        font-size: 28px;
    }
    form label
    {
        font-size: 22px;
    }
    form input
    {
        font-size: 21px;
    }
    .nav p
    {
        font-size: 40px;
    }
    form
    {
        padding: 10px;
    }
}