@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
body
{
    background-color: rgba(113, 113, 189, 0.733);
}
.id
{
    color: blue;
    font-size: 38px;
}
.video
{
    display: flex;
    flex-direction: row;
    margin-left:20px ;
}
.video img
{
    width: 520px;
    height: 320px;
    border-radius: 30px;
    margin: 50px;
}
.details
{
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 95, 0.411);
    padding: 30px;
    padding-left: 120px;
    padding-right: 120px;
}
input ,textarea,select
{
    width: 300px;
    height: 40px;
    font-size: 20px;
}
.formgroup
{
    display: flex;
    flex-direction: column;
}
.form-group
{
    display: flex;
    flex-direction: column;
    font-size: 23px;
}
.btn
{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    margin-left: 80px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 200px;
}
.btn:hover
{
    background-color: whitesmoke;
    color: blue;
    border: 2px solid blue;
}
.alert-success
{
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    border: 2px solid green;
    background-color: lightgreen;
    margin-bottom: 5px;
    text-align: center;
    color: black;
    text-shadow: none;
    border-radius: 9px;
}
#duration
{
    display: flex;
    flex-direction: row;
}
#price
{
    display: flex;
    flex-direction: row;
}
#sym
{
    width: 30px;
    font-size: 25px;
}
#price-value
{
    width:266px ;
}
#duration input
{
    width: 90px;
    margin-right: 10px;
}
.Episodes
{
    color: blue;
    font-size: 58px;
    text-align: center;
}
.episodes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.episodes img
{
    width: 350px;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.content
{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
    background-color: rgba(33, 33, 95, 0.411);
    padding: 30px;
}
.epititle
{
    font-size: 25px;
    color: black;
}
.btns
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnepi
{
    width: 140px;
    height: 40px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 200px;
}
.btnepi:hover
{
    background-color: whitesmoke;
    color: blue;
    border: 2px solid blue;
}